
  .dropbtn {  
    background-color: rgb(45, 101, 221);  
    color: black;  
    padding: 40px;  
    font-size: 10px;  
  }
  .dropdown {  
        display: inline-block;  
        position: relative  
    }  
    .dropdown-content {  
        position: absolute;  
        background-color: rgb(76, 201, 103);  
        min-width: 200px;  
        display: none;  
        z-index: 1;  
    }  
    .dropdown-content a {  
        color: black;  
        padding: 12px 16px;  
        text-decoration: none;  
        display: block;  
    }  
    .dropdown-content a:hover {  
        background-color: rgb(250, 175, 14);  
    }  
    .dropdown:hover .dropdown-content {  
        display: block;  
    }  
    .dropdown:hover .dropbtn {  
        background-color: grey;  
    }  
